@use './variables' as *;

//FONT FACES
@font-face {
    font-family: 'young-serif-regular';
    src: url('/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'outfit-regular';
    src: url('/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'outfit-semibold';
    src: url('/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'outfit-bold';
    src: url('/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
}

// TYPOGRAPHY VARIABLES
$letter-spacing-default: 0px;
$line-height-default: 1;
$line-height-large: 1.5;

// FONT SIZES
$font-size-xl: 2.3rem; // 36.8px / 16 - adjusted as 2.5rem (40px) was not the same as in Figma
$font-size-lg: 1.75rem; // 28px / 16
$font-size-md: 1.25rem; // 20px / 16
$font-size-sm: 1rem;    // 16px / 16

//FONT WEIGHTS
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//TEXT PRESETS MIXINS
@mixin text-preset-1($font-family:'young-serif-regular', $font-weight:$font-weight-regular, $font-size:$font-size-xl, $line-height:$line-height-default, $letter-spacing:$letter-spacing-default) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin text-preset-2($font-family:'young-serif-regular', $font-weight:$font-weight-regular, $font-size:$font-size-lg, $line-height:$line-height-default, $letter-spacing:$letter-spacing-default) {
    font-family: $font-family, serif;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin text-preset-3($font-family:'outfit-semibold', $font-weight:$font-weight-semibold, $font-size:$font-size-md, $line-height:$line-height-default, $letter-spacing:$letter-spacing-default) {
    font-family: $font-family, sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin text-preset-4($font-family:'outfit-regular', $font-weight:$font-weight-regular, $font-size:$font-size-sm, $line-height:$line-height-large, $letter-spacing:$letter-spacing-default) {
    font-family: $font-family, sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin text-preset-4-Bold($font-family:'outfit-bold', $font-weight:$font-weight-bold, $font-size:$font-size-sm, $line-height:$line-height-large, $letter-spacing:$letter-spacing-default) {
    font-family: $font-family, sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}