@use './design' as *;

html {
    font-size: 100%;
}
body {
    @include text-preset-4;
    color: $stone-600;

    display: flex;
    flex-direction: column;
}

ul, ol {
    list-style-position: inside;
    
    display: flex;
    flex-direction: column;
    gap: $space-100;
}