@use './design' as *;

html {
    font-size: 100%;
}
body {
    background-color: $stone-100;

    @include text-preset-4;
    color: $stone-600;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: $white;
    padding: $space-500 $space-400;

    @media (min-width: 768px) {
        & {
            padding-left: $space-500;
            padding-right: $space-500;
        }
    }
}