@use './design' as *;

.header-img {
    width: 375px;
    height: 171px;

    @media (min-width: 768px) {
        & {
            width: 536px;
            height: 300px;
            
            margin: $space-500 $space-500 0 $space-500;

            border-radius: $space-150;
        }
    }
}