@use './design' as *;

header {
    width: $width-primary;
    height: $height-primary;

    @media (min-width: 768px) {
        & { 
            margin: $margin-primary $margin-primary 0 $margin-primary;
        }
    }
}

.header-img {
    width: 100%;
    height: 100%;

    @media (min-width: 768px) {
        & {
            border-radius: $space-150;
        }
    }
}