@use './design' as *;

.recipe__intro-title {
    @include text-preset-1;
    color: $stone-900;
}

.recipe__heading {
    @include text-preset-2;
    color: $brown-800;
}

.recipe__prep-heading {
    font-size: 1.5rem;
    color: $rose-800
}