//----------------COLORS

$rose-800: #7A284E;
$rose-50: #FFF7FB;

$stone-900: #312E2C;
$stone-600: #5F564D;
$stone-150: #E3DDD7;
$stone-100: #F3E5D7;

$brown-800:#854632;
$white: #FFFFFF;

//----------------SPACINGS

$space-1600: 8rem;  // 128px / 16
$space-600: 3rem;   // 48px / 16
$space-500: 2.5rem; // 40px / 16
$space-400: 2rem;   // 32px / 16
$space-300: 1.5rem; // 24px / 16
$space-200: 1rem;   // 16px / 16
$space-150: 0.75rem; // 12px / 16
$space-100: 0.5rem;  // 8px / 16
$space-50: 0.25rem;  // 4px / 16

//----------------ELEMENT DIMENSIONS

$width-primary: clamp(20rem, 80.2083vw, 46rem);
$height-primary: clamp(10.6875rem, 39.0625vw, 18.75rem);

$margin-primary: clamp(1rem, 5.2083vw, $space-500)